<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Success</title>
    </head>

    <body>
        @model Survey
        <h2>Info Submitted by User:</h2>
        <p><span>Name:</span> @Model.Name</p>
        <p><span>Location:</span> @Model.Location</p>
        <p><span>Language:</span> @Model.Language</p>
        <p><span>Comment:</span> @Model.Comment</p>
        <a href="/">Return to Form!</a>
        
    </body>


</html>